# ============== General ==============
.DS_Store
Thumbs.db
Desktop.ini

# ============== Python ==============
__pycache__/
*.py[cod]
*$py.class
*.so
*.db

# Environments & Dependencies
.env
.venv
venv
ENV
env
pip-log.txt

# Distribution / Packaging
build/
dist/
wheels/
*.egg-info/
.eggs/
**/node_modules/
package-lock.json

# Testing & Coverage
.pytest_cache/
.mypy_cache/
.coverage
.cache
htmlcov/
.tox/

# ============== Rust ==============
/target/
*.rlib
.cargo/config.toml

# ============== IDE / Editor ==============
.idea/
.vscode/
*.sublime-*

# ============== Secrets ==============
*.pem
*.key
credentials.json
secrets.yml
demo.md

# ============== Python-Rust Bridge (PyO3/Maturin) ==============
*.pyd
backend/rust_core/target/
client/src-tauri/resources/rpc_server